<h1>Showing selected Work</h1>

<p>
  Title: <%= @work.title %>
</p>

<p>
  description: <%= @work.description %>
</p>
<%= link_to "Edit this work", edit_work_path(@work) %> |
<%= link_to "Back to Work listing", works_path %>
